.footer {
  padding: 0 0 46px 0;

  @media (max-width: 767px) {
    padding: 0 0 20px 0;
  }
}

.footer-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 376px;

  margin: 0 auto;

  @media (max-width: 361px) {
    flex-direction: column;
  }
}