.header {
  min-height: 114px;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}

.header-body {
  @media (max-width: 650px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media (min-width: 650px) {
    display: flex;
    min-height: 114px;
    align-items: center;
  }

  // .header-body__menu
  &__menu {
    @media (max-width: 650px) {
      margin: 15px 0;
    }
  }
}

.header-menu {
  @media (min-width: 650px) {
    flex: 1 1 auto;
    display: flex;
    justify-content: flex-end;
  }
  // .header-menu__list
  &__list {
    display: flex;
    @media (max-width: 650px) {
      > * {
        &:not(:last-child) {
          margin: 0 25px 0 0;
        }
      }
    }
  }

  // .header-menu__link
  &__link {
    display: inline-block;
    position: relative;
    transition: 0.3s;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 10px;
    line-height: 20 / 10 * 100%;
    letter-spacing: 0.6px;
    color: #000000;

    margin: 0 40px 0 0;

    @media (max-width: 800px) {
      margin: 0 30px 0 0;
    }
    @media (min-width: 768px) {
      &:hover {
        color: #EC5863;

        &::after {
          content: '';
          left: 0;
          width: 100%;
        }
      }

      &::after {
        content: '';
        position: absolute;
        left: 50%;
        width: 0;
        height: 1px;
        background: #EC5863;
        bottom: 0;
        transition: 0.3s;
      }
    }
    @media (max-width: 650px) {
      margin: 0 0 0 0;
    }
  }
}

.header-buttons {
  flex: 0 0 252px;
  display: flex;
  justify-content: flex-end;

  @media (max-width: 967px) {
    flex: 0 0 190px;
  }

  @media (max-width: 730px) {
    flex: 0 0 0;
  }

  // .header-buttons__button
  &__button {
    background: #4285F4;
    transition: 0.3s;
    text-transform: uppercase;

    @media (min-width: 768px) {
      &::after {
        content: '';
        background: #2b7bff;
      }
    }
  }
}